<div class="posts-container">
  <div class="users-posts">
      <div class="user-posts">
        <h2><%= @post.title %> by <%= @user.name%></h2>  
        <div class="comment-likes">
          Comments: <%= @post.comments_counter %>
          Likes: <%= @post.likes_counter %>
        </div>
      </div>
      <p><%= @post.text %></p>

      <div class="comment-likes">
        <%= link_to new_user_post_comment_path(@user,@post) do %>
          Add Comment
        <% end %>
        <%= form_with model: @like, url: user_post_likes_path(user_id: @post.author.id, post_id: @post.id), method: :post, remote: true do |form| %>
          <%= form.submit 'Like', class: 'like-button' %>
        <% end %>
      </div>
  </div>

    <% if can? :destroy, @post %>
      <%= form_with model: @post, url: user_post_path(@user, @post), method: :delete, remote: true do |form| %>
        <%= form.submit 'Delete', class: 'delete-button' %>
      <% end %>
    <% end %>

    <ul class="user-comments">
        <% @post.comments.each do |comment| %>
          <li>
            <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
            <% if can?(:destroy, comment) %>
              <%= form_with model: comment, url: user_post_comment_path(@user, @post, comment), method: :delete, remote: true do |form| %>
                <%= form.submit 'Delete comment', class: 'delete-button' %>
              <% end %>
            <% end %>
          </li>
        <% end %>
    </ul>
</div>